<section id="about-intro" class="about-reverse">
  <div class="container pb-5 mb-5">
    <div class="col-9 mx-auto">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="intro-img col-lg-8 col-md-5 col-sm-5 mx-auto m-lg-0" *ngIf="!bMedium">
            <img class="img-fluid" src="{{ 'HOME.ABOUT-INTRO.ABOUT1.IMG.SRC' | translate }}" alt="{{ 'HOME.ABOUT-INTRO.ABOUT1.IMG.ALT' | translate }}"
              style="width:100%;height: 200%">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-6 order-first order-sm-last order-md-last order-lg-last mx-auto">
          <div class="intro-contain">
            <div>
              <h2>{{ 'HOME.ABOUT-INTRO.ABOUT1.TITLE' | translate }}</h2>
              <p *ngFor="let paragraph of paragraphs1" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="intro-img col-lg-8 col-md-5 col-sm-5 mx-auto m-lg-0 float-right" *ngIf="!bMedium">
            <img class="img-fluid" src="{{ 'HOME.ABOUT-INTRO.ABOUT2.IMG.SRC' | translate }}" alt="{{ 'HOME.ABOUT-INTRO.ABOUT2.IMG.ALT' | translate }}"
              style="width:100%;height: 200%">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-6 order-first order-sm-last order-md-last order-lg-first mx-auto">
          <div class="intro-contain">
            <div>
                <h2>{{ 'HOME.ABOUT-INTRO.ABOUT2.TITLE' | translate }}</h2>
              <p *ngFor="let paragraph of paragraphs2" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="intro-img col-lg-8 col-md-5 col-sm-5 mx-auto m-lg-0" *ngIf="!bMedium">
            <img class="img-fluid" src="{{ 'HOME.ABOUT-INTRO.ABOUT3.IMG.SRC' | translate }}" alt="{{ 'HOME.ABOUT-INTRO.ABOUT3.IMG.ALT' | translate }}"
              style="width:100%;height: 200%">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-6 order-first order-sm-last order-md-last order-lg-last mx-auto">
          <div class="intro-contain">
            <div>
                <h2>{{ 'HOME.ABOUT-INTRO.ABOUT3.TITLE' | translate }}</h2>
              <p *ngFor="let paragraph of paragraphs3" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
