<section id="about-intro" class="about-reverse">
  <div class="container pb-5 mb-5">
    <div class="col-9 mx-auto">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="intro-img col-lg-8 col-md-5 col-sm-5 mx-auto m-lg-0" *ngIf="!bMedium">
            <img class="img-fluid" src="assets/images/illus/no_image3.png" alt="learning path"
              style="width:100%;height: 200%">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-6 order-first order-sm-last order-md-last order-lg-last mx-auto">
          <div class="intro-contain">
            <div>
              <h2>Gather & Share</h2>
              <!-- <p *ngFor="let paragraph of paragraphs" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p> -->
              <p class="text-left text-sm-justify">Designed after the idea of a baby book, the nest is your go-to space
                to gather, safeguard, and share these special memories (of your little one) with your loved ones. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="intro-img col-lg-8 col-md-5 col-sm-5 mx-auto m-lg-0 float-right" *ngIf="!bMedium">
            <img class="img-fluid" src="assets/images/illus/no_image2.png" alt="learning path"
              style="width:100%;height: 200%">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-6 order-first order-sm-last order-md-last order-lg-first mx-auto">
          <div class="intro-contain">
            <div>
              <h2>Understand</h2>
              <!-- <p *ngFor="let paragraph of paragraphs" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p> -->
              <p class="text-left text-sm-justify">We're here to make things easier for you. Give meaning to the science behind your child's development. Chat with our on-call speech therapist, Chloe, or consult our blog for the answers to all of your questions.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="intro-img col-lg-8 col-md-5 col-sm-5 mx-auto m-lg-0" *ngIf="!bMedium">
            <img class="img-fluid" src="assets/images/illus/no_image4.png" alt="learning path"
              style="width:100%;height: 200%">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-6 order-first order-sm-last order-md-last order-lg-last mx-auto">
          <div class="intro-contain">
            <div>
              <h2>Connect</h2>
              <!-- <p *ngFor="let paragraph of paragraphs" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p> -->
              <p class="text-left text-sm-justify">Connect with your child using games and activity suggestions, personally selected for your child.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
