<section id="about-intro" class="about-reverse">
  <div class="container-fluid pb-5 mb-5 pl-0 pr-0">
    <div class="col-12 col-md-9 mx-auto p-0">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-5">
          <div class="intro-img col-lg-12 col-md-5 col-sm-5 mx-auto float-lg-left">
            <img src="{{ 'HOME.ABOUT-INTRO.ABOUT1.IMG.SRC' | translate }}"
              alt="{{ 'HOME.ABOUT-INTRO.ABOUT1.IMG.ALT' | translate }}">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-7 order-last order-sm-last order-md-last order-lg-last mx-auto">
          <div class="intro-contain">
            <div>
              <h2>{{ 'HOME.ABOUT-INTRO.ABOUT1.TITLE' | translate }}</h2>
              <p *ngFor="let paragraph of paragraphs1" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center pt-5 pb-5">
        <div class="col-md-12 col-lg-5">
          <div class="intro-img col-lg-12 col-md-5 col-sm-5 mx-auto m-lg-0 float-lg-right">
            <img src="{{ 'HOME.ABOUT-INTRO.ABOUT2.IMG.SRC' | translate }}"
              alt="{{ 'HOME.ABOUT-INTRO.ABOUT2.IMG.ALT' | translate }}">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-7 order-last order-sm-last order-md-last order-lg-first mx-auto">
          <div class="intro-contain">
            <div>
              <h2>{{ 'HOME.ABOUT-INTRO.ABOUT2.TITLE' | translate }}</h2>
              <p *ngFor="let paragraph of paragraphs2" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-5">
          <div class="intro-img col-lg-12 col-md-5 col-sm-5 mx-auto m-lg-0 float-lg-left">
            <img src="{{ 'HOME.ABOUT-INTRO.ABOUT3.IMG.SRC' | translate }}"
              alt="{{ 'HOME.ABOUT-INTRO.ABOUT3.IMG.ALT' | translate }}">
          </div>
        </div>
        <div class="col-11 col-md-11 col-lg-7 order-last order-sm-last order-md-last order-lg-last mx-auto">
          <div class="intro-contain">
            <div>
              <h2>{{ 'HOME.ABOUT-INTRO.ABOUT3.TITLE' | translate }}</h2>
              <p *ngFor="let paragraph of paragraphs3" class="text-left text-sm-justify"
                [innerHTML]="paragraph.PARAGRAPH "></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>