@import 'constants';
@import 'variables';

#feature{
  background-image: var(--background-home-testimonial);
  background-size: cover;
  position: relative;
  width: 100vw;
}

.row {
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.active {
  background-color: var(--color-background);
}

.collapsed{
  background-color: var(--color-background);
}

.mat-expansion-panel-header-title {
  line-height: 1.8em;
  // color: var(--color-text);
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

.mat-expansion-panel{
  p{
    line-height: 1.8em;
    color: var(--color-text);
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
  }
}

@media(max-width: 1200px) {
  .feature {
    padding: 50px 0px;
  }
}

@media(max-width: 992px) {
  .feature {
    padding: 50px 0px;
  }
}

@media(max-width: 767px){
  .row{
    height: auto;
    min-height: 100vh;
  }

  .mat-expansion-panel-header{
    height: auto !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media(max-width: 575px){
  .row{
    height: auto;
    min-height: 100vh;
  }
}
