@import 'constants';

.about-reverse {
    .row {
        min-height: 25vh;
        max-width: 100vw;
    }
    .phonetics{
      font-size: 3em;
    }
}

.about-img {
  text-align: center;
}


@media(min-width: 992px){
  .about-reverse {
  padding-top: 15vh;
  padding-bottom: 25vh;
  }
}

@media(min-width: 991px){
  .about-img {
    img{
      width: 80%;
    }
  }
}

@media (max-width: 991px) {
  .about-img{
    padding-top: 50px;
  }
  .about-reverse{
      padding-bottom: 150px;
    .phonetics{
      font-size: 3em;
    }
  }
}

@media(max-width: 575px){
  .about-reverse{
    .phonetics{
      font-size: 2em;
    }
  }
}
