@import 'constants';

.about-reverse {
    .row {
        min-height: 50vh;
    }
    .phonetics{
      font-size: 6em;
    }
}

.about-img {
  text-align: center;
}


@media(min-width: 992px){
  .about-reverse {
  padding-top: 20vh;
  }
}

@media(min-width: 991px){
  .about-img {
    img{
      width: 80%;
    }
  }
}

@media (max-width: 991px) {
  .about-img{
    padding-top: 50px;
  }
  .about-reverse{
    .container{
      padding-bottom: 50px;
    }
  }
}
