@import 'constants';
@import 'variables';

.news {
  padding-top: 80px;

  .title{
    padding-top: 50px;
  }

  .title-area{
    padding-bottom: 30px;
  }
}

.gallery-item
{
    margin-bottom: 30px;
    display: flex;
    // align-items: stretch;

    img{
      object-fit: cover !important ;
    }

    p{
      margin-bottom: 0;
    }

    .news-image{
      padding-bottom: 100%;
      background-color: var(--color-primary);
      background-size: cover;
      background-position: center;
    }

    .gallery-card{
      width: 100%;
    }

}

.filter-btns{
  padding-bottom: 30px;
}

.mat-card{
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}
