<app-header></app-header>

<section id="news" class="news">
  <div class="container">
    <div class="row">

      <div class="col-12 title-area">
          <h2 class="title">{{ 'PAGES.NEWS.TITLE' | translate }}</h2>
          <p>{{ 'PAGES.NEWS.SUBTITLE' | translate }}</p>
      </div>
    </div>
    <!-- <div class="row col-12 mx-auto">
        <div class="mx-auto filter-btns">
            <button mat-flat-button color="accent" class="mx-1" *ngFor="let filter of filters" ng-hide="all" ng-show="filter.FILTER">{{ filter.FILTER }}</button>
        </div>
    </div> -->
    <div class="row col-10 mx-auto">
      <div class="gallery-item col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 {{ article.FILTER }}" *ngFor="let article of articles">
          <mat-card class="gallery-card">
        <a href="{{ article.HREF }}" target="_blank">
            <div mat-card-image class="news-image" [style.backgroundImage]="'url('+article.IMG.SRC+')'"></div>
            <h6>{{ article.HEADLINE }}</h6>
            <p>{{ article.PUBLISHER }} &nbsp;  {{ article.LANGUAGE }}</p>
            <!-- <mat-card-title>{{ article.HEADLINE }}</mat-card-title>
            <mat-card-subtitle>{{ article.PUBLISHER }} {{ article.LANGUAGE }}</mat-card-subtitle> -->
          </a>
          </mat-card>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12 col-lg-6" >
            <h2 class="title">Social Media</h2>
            <p>Check out what is happening on our Facebook and Twitter pages.</p>
        </div>
        <div>
          <a class="twitter-timeline" href="https://twitter.com/ENS_ULM?ref_src=twsrc%5Etfw">Tweets by ENS_ULM</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div> -->
  </div>
</section>


<app-footer></app-footer>

