<app-header></app-header>

  <section id="privacy-policy" class="privacy-policy">
    <div class="container">
      <div class="row ">
        <div class="outline col-12 col-lg-9 mx-auto" >
          <h1>Engagement de confidentialit&eacute; de Gazouyi</h1>
          <br>
          <p><strong>Date de r&eacute;daction: 13/05/2020</strong></p>
          <p><strong>Derni&egrave;re modification: 27/05/2020</strong></p>
          <br>
          <p>Gazouyi est un livre pour b&eacute;b&eacute; s&eacute;curis&eacute; et partag&eacute; par toute la famille, dans lequel vous pouvez ajouter et rassembler tout ce qui concerne votre vie avec votre b&eacute;b&eacute;, des moments mignons de tous les jours &agrave; ceux qui repr&eacute;sentent une &eacute;tape importante de son d&eacute;veloppement. Mais votre Gazouyi est plus qu'un livre de b&eacute;b&eacute; passif. Il vous propose aussi &agrave; vous et &agrave; votre proche des id&eacute;es d&rsquo;activit&eacute;s adapt&eacute;es au d&eacute;veloppement de votre enfant, pour cr&eacute;er encore plus de ces grands moments.</p>
          <p>Con&ccedil;ues par des experts, ces activit&eacute;s se veulent ludiques et appropri&eacute;es pour permettre &agrave; toutes les personnes qui s'occupent de l'enfant de participer et de s'amuser en cr&eacute;ant des liens avec l'enfant et en construisant des souvenirs inoubliables.</p>
          <p>Comme Gazouyi est une entreprise de partage et de construction, nous nous engageons &agrave; vous donner la s&eacute;curit&eacute; et l'assurance concernant vos donn&eacute;es priv&eacute;es. Vos donn&eacute;es ne sont pas utilis&eacute;es pour servir des publicit&eacute;s ou vendues &agrave; des entreprises priv&eacute;es. Nous appliquons les normes de s&eacute;curit&eacute; et de confidentialit&eacute; les plus strictes pour vous prot&eacute;ger.</p>
          <p>La protection de votre vie priv&eacute;e est une priorit&eacute; pour Gazouyi. C&rsquo;est la raison pour laquelle nous avons &eacute;labor&eacute; un engagement de confidentialit&eacute; qui r&eacute;git la mani&egrave;re dont nous recueillons, utilisons, transf&eacute;rons et stockons vos donn&eacute;es personnelles.</p>
          <p>Veuillez prendre le temps de vous familiariser avec nos pratiques en mati&egrave;re de confidentialit&eacute; et n&rsquo;h&eacute;sitez pas &agrave; nous contacter si vous avez des questions.</p>
          <p>Les responsables de traitement de vos donn&eacute;es personnelles sont M. Victor D&rsquo;herbemont (<u><a href="mailto:victor@gazouyi.com" target="_blank">victor@gazouyi.com</a></u>) et Xuan-Nga Cao (<u><a href="mailto:xn@gazouyi.com" target="_blank">xn@gazouyi.com</a></u>), co-fondateurs de Gazouyi.</p>
          <h2>Votre Consentement</h2>
          <p>L&rsquo;ensemble des donn&eacute;es sont collect&eacute;es sur la base de consentement. Gazouyi s&rsquo;est assur&eacute; de la validit&eacute; de votre consentement en vous expliquant lors du t&eacute;l&eacute;chargement de l&rsquo;application et de la cr&eacute;ation de votre compte, les conditions d&rsquo;utilisation. Vous avez la possibilit&eacute; de revenir sur ce consentement &agrave; tout moment.</p>
          <h2>Qui a acc&egrave;s &agrave; quoi dans Gazouyi?</h2>
          <p>Dans l&rsquo;application Gazouyi, il y a des utilisateurs et des familles. Les familles sont des groupes d&rsquo;utilisateurs qui partagent des informations de fa&ccedil;on priv&eacute;e &agrave; propos d&rsquo;un enfant. Lorsque vous arrivez sur l&rsquo;application Gazouyi, vous devez d&rsquo;abord cr&eacute;er un compte utilisateur, puis vous pouvez rejoindre ou cr&eacute;er une nouvelle famille.</p>
          <ul>
          <li>Si vous cr&eacute;ez une famille, vous &ecirc;tes alors le responsable de la famille et vous contr&ocirc;lez qui acc&egrave;de &agrave; votre espace et ce qui est partag&eacute;. Il ne peut y avoir qu&rsquo;un seul responsable par famille.</li>
          </ul>
          <ul>
          <li>Si vous rejoignez une famille, vous &ecirc;tes alors un membre et vous pouvez contribuer &agrave; l&rsquo;espace et jouer aux activit&eacute;s.</li>
          </ul>
          <p>Les donn&eacute;es contribu&eacute;es par les membres de la famille appartiennent &agrave; cette famille et par cons&eacute;quent, au responsable de la famille qui peut ainsi d&eacute;cider de les supprimer de l&rsquo;espace.</p>
          <p>L&rsquo;auteur d&rsquo;un contenu en est bien s&ucirc;r propri&eacute;taire et peut le supprimer ou le r&eacute;cup&eacute;rer mais ne peut pas s&rsquo;opposer si le responsable d&eacute;cide de le supprimer.</p>
          <h2>Les donn&eacute;es que vous partagez dans Gazouyi</h2>
          <h3>Quelles donn&eacute;es collectons-nous?</h3>
          <p>Nous collectons <strong>des donn&eacute;es </strong>en respect avec la l&eacute;gislation europ&eacute;enne et fran&ccedil;aise en vigueur afin de vous garantir une utilisation optimale du service.</p>
          <p><em>Gazouyi </em>collecte<strong> les donn&eacute;es n&eacute;cessaires </strong>au fonctionnement du service.</p>
          <p>Ces donn&eacute;es sont:</p>
          <ul>
          <li>L'identit&eacute; (nom et pr&eacute;nom) et l'adresse email que vous renseignez sur votre compte utilisateur</li>
          </ul>
          <ul>
          <li>L&rsquo;identit&eacute; (nom et pr&eacute;nom) et la date de naissance de l&rsquo;enfant que vous renseignez lors de la cr&eacute;ation du compte famille.</li>
          </ul>
          <h4>Les donn&eacute;es suivantes sont facultatives:</h4>
          <ul>
          <li>Autres informations sur l&rsquo;enfant, renseign&eacute;es pendant la cr&eacute;ation de compte<strong>:</strong></li>
          </ul>
          <ul>
          <li>Photo de profil (peut &ecirc;tre ajout&eacute;e apr&egrave;s la cr&eacute;ation de compte)</li>
          </ul>
          <ul>
          <li>genre de l&rsquo;enfant</li>
          </ul>
          <ul>
          <li>Les donn&eacute;es de d&eacute;veloppement, renseign&eacute;es quand l&rsquo;utilisateur ajoute les mesures sur le dashboard</li>
          </ul>
          <ul>
          <li>Les donn&eacute;es physiologiques (taille, poids) et celles rajout&eacute;es par l&rsquo;utilisateur lors de la cr&eacute;ation d&rsquo;&eacute;ventuels graphiques suppl&eacute;mentaires. Ces donn&eacute;es sont utilis&eacute;es pour tracer les courbes de suivi de l&rsquo;enfant qui sont uniquement accessibles par la famille.</li>
          <li>Les souvenirs photos, vid&eacute;os et textes, ajout&eacute;s par les utilisateurs dans le baby book<strong>. </strong>Ces donn&eacute;es sont utilis&eacute;es pour construire le journal de naissance de l&rsquo;enfant qui peut &ecirc;tre ensuite partag&eacute; ou export&eacute; de l&rsquo;application.</li>
          </ul>
          <h3>A quel moment collectons-nous vos donn&eacute;es?</h3>
          <p>Nous collectons l&rsquo;adresse mail et le pseudonyme au moment de la cr&eacute;ation de votre compte Gazouyi pour pouvoir vous identifier dans l&rsquo;application. Nous collectons une photo pour votre profil utilisateur, si vous en ajoutez une, au moment o&ugrave; vous l&rsquo;ajoutez dans les param&egrave;tres de votre compte.</p>
          <p>Nous collectons le pseudonyme et la date de naissance de l&rsquo;enfant au moment de la cr&eacute;ation de la famille, ainsi qu&rsquo;&eacute;ventuellement l&rsquo;information sur son sexe et sa photo de profile.</p>
          <p>Nous stockons vos photos et vid&eacute;os import&eacute;es sur notre cloud.</p>
          <p>Nous collectons les informations de l'interaction avec nos contenus (telles les mesures et les activit&eacute;s effectu&eacute;es) que vous ajoutez et nous les s&eacute;curisons sur notre cloud. Seuls, les membres de la famille y ont acc&egrave;s.</p>
          <p>Nous ne stockons aucune information de localisation.</p>
          <p>Nous conservons l&rsquo;historique des connexions pour contr&ocirc;ler le trafic de Gazouyi et vous prot&eacute;ger d&rsquo;&eacute;ventuelles attaques.</p>
          <h2>Le traitement de vos donn&eacute;es</h2>
          <p>Les donn&eacute;es n&eacute;cessaires ne sont ni vendues &agrave; des entreprises priv&eacute;s, ni utilis&eacute;es pour faire de la publicit&eacute;. Ce sont vos donn&eacute;es et vous pouvez les r&eacute;cup&eacute;rer, supprimer ou modifier &agrave; tout moment dans l&rsquo;application.</p>
          <p>Parmi vos donn&eacute;es de compte, la seule donn&eacute;e que l&rsquo;on utilise est l&rsquo;&acirc;ge de votre enfant pour adapter le contenu que l&rsquo;on vous propose et ainsi am&eacute;liorer votre exp&eacute;rience. Par exemple si votre enfant a 4 mois, nous n&rsquo;allons pas vous proposer une activit&eacute; ou un contenu qui est adapt&eacute; &agrave; un enfant de 3 ans.</p>
          <p>Les donn&eacute;es facultatives pourraient &ecirc;tre analys&eacute;es par Gazouyi et &eacute;ventuellement par ses partenaires pour vous proposer un contenu adapt&eacute;. En effet, les donn&eacute;es li&eacute;es &agrave; votre utilisation de l&rsquo;application sont trait&eacute;es afin de mieux comprendre vos besoins et vous proposer un contenu adapt&eacute;. D&rsquo;autre part, ces donn&eacute;es li&eacute;es &agrave; votre interaction peuvent &ecirc;tre utilis&eacute;es pour r&eacute;aliser des &eacute;tudes d&rsquo;usage. Par exemple pour savoir quel activit&eacute; marche bien, quelle recette ne marche pas, etc.. Avant le traitement, toutes ces informations sont anonymis&eacute;es et les r&eacute;sultats sont aggr&eacute;g&eacute;s.</p>
          <p><em>Par exemple:</em> si une activit&eacute; que nous vous avons propos&eacute;e ne vous pla&icirc;t pas, nous ne vous la proposerons plus. Ou bien si l&rsquo;on observe que vous appr&eacute;ciez particuli&egrave;rement les activit&eacute;s li&eacute;s au d&eacute;veloppement du langage, nous vous en proposerons plus.</p>
          <h2>La conservation de vos donn&eacute;es</h2>
          <h3>Comment conservons-nous vos donn&eacute;es ?</h3>
          <p>Vos donn&eacute;es sont crypt&eacute;es puis conserv&eacute;es chez un prestataire cloud pour vous permettre de les acc&eacute;der &agrave; tout moment (pour les consulter, les supprimer ou les rectifier). Ces donn&eacute;es crypt&eacute;es ne permettent pas de vous identifier et elles ne pourront pas &ecirc;tre utilis&eacute;es par des tierces personnes.</p>
          <h3>Combien de temps nous conservons vos donn&eacute;es?</h3>
          <p>Les donn&eacute;es sont conserv&eacute;es sur les serveurs de <em>Gazouyi</em> jusqu&rsquo;&agrave; ce que l&rsquo;utilisateur ou le responsable de famille d&eacute;cide de les supprimer/modifier et &agrave; d&eacute;faut, apr&egrave;s 3 ans d&rsquo;inactivit&eacute; du compte<em> Gazouyi</em>.</p>
          <h2>Vos droits sur vos donn&eacute;es</h2>
          <p>Vous &ecirc;tes propri&eacute;taire de vos donn&eacute;es: elles vous sont donc accessibles &agrave; tout moment et vous d&eacute;cidez de leur usage.</p>
          <h3>Comment avez-vous acc&egrave;s &agrave; vos donn&eacute;es ?</h3>
          <ul>
          <li>Vous pouvez acc&eacute;der &agrave; vos donn&eacute;es de fa&ccedil;on s&eacute;curis&eacute;e au sein de l&rsquo;app Gazouyi.</li>
          </ul>
          <ul>
          <li>Vous pouvez partager ces donn&eacute;es &agrave; l&rsquo;ext&eacute;rieur de l&rsquo;app Gazouyi gr&acirc;ce &agrave; notre service <em><strong>Share it! </strong></em> qui vous permet de partager avec des gens ext&eacute;rieurs sur les r&eacute;seaux sociaux par exemple, tout en contr&ocirc;lant qui voit quand ces donn&eacute;es.</li>
          <li>Vous pouvez nous faire la demande d&rsquo;exporter vos donn&eacute;es. Dans ce cas nous demandons un d&eacute;lai d&rsquo;une semaine afin de d&eacute;crypter, rassembler et organiser vos informations pour que vous puissiez les utiliser.</li>
          </ul>
          <h3>Quelles donn&eacute;es pouvez-vous rectifier ?</h3>
          <p>Vous pouvez &agrave; tout moment demander la rectification de vos informations et de vos photos sur votre compte. Concernant vos informations personnelles, vous pouvez les modifier directement dans l&rsquo;application. Les photos publi&eacute;es dans le journal de souvenirs peuvent &ecirc;tre supprim&eacute;es mais ne sont pas modifiables.</p>
          <h3>Quelles donn&eacute;es pouvez-vous supprimer?</h3>
          <p>Vous pouvez &agrave; tout moment demander la suppression de vos donn&eacute;es &agrave; caract&egrave;re personnel en nous en faisant la demande directement &agrave; <u><a href="mailto:xn@gazouyi.com" target="_blank">xn@gazouyi.com</a></u> en renseignant votre adresse email de compte et votre nom</p>
          <h3>Comment pouvez-vous exercer votre droit &agrave; la portabilit&eacute; des donn&eacute;es?</h3>
          <p>Vous pouvez demander une copie de l&rsquo;ensemble de vos donn&eacute;es que vous avez fournies &agrave; Gazouyi en nous contactant &agrave; <u><a href="mailto:xn@gazouyi.com" target="_blank">xn@gazouyi.com</a></u> en sp&eacute;cifiant dans l'objet: &ldquo;Portabilit&eacute; de mes donn&eacute;es&rdquo; et en renseignant dans l&rsquo;email: votre email utilisateur.</p>
          <p>La portabilit&eacute; de vos donn&eacute;es consiste &eacute;galement &agrave; accorder l&rsquo;acc&egrave;s de vos donn&eacute;es &agrave; un autre responsable de traitement.</p>
          <h3>Que se passe-t-il lorsque Gazouyi souhaite supprimer vos donn&eacute;es?</h3>
          <p>En cas d&rsquo;effacement de vos donn&eacute;es par Gazouyi, un email vous sera envoy&eacute; pour vous en informer. Vous pouvez exercer vos droits dans le d&eacute;lai indiqu&eacute; dans l&rsquo;email.</p>
          <h3>Pouvez-vous retirer votre consentement?</h3>
          <p>Vous pouvez &agrave; tout moment retirer votre consentement en nous envoyant un email &agrave; <u><a href="mailto:xn@gazouyi.com" target="_blank">xn@gazouyi.com</a></u>. Dans ce cas, nous supprimerons les donn&eacute;es de nos serveurs.</p>
          <h2>Les destinataires de vos donn&eacute;es</h2>
          <h3>Qui sont les destinataires de vos donn&eacute;es et pourquoi?</h3>
          <ul>
          <li>Votre famille: lorsque vous ajoutez un utilisateur &agrave; votre famille, vous partagez avec lui les donn&eacute;es relatives &agrave; votre famille et publi&eacute;es dans l&rsquo;application.</li>
          </ul>
          <ul>
          <li>Vous pouvez &eacute;galement partager vos donn&eacute;es &agrave; l&rsquo;ext&eacute;rieur de l&rsquo;app Gazouyi gr&acirc;ce &agrave; notre service Share it! Cette fonctionnalit&eacute; vous permet de partager sur les r&eacute;seaux sociaux par exemple, tout en contr&ocirc;lant qui voit ces donn&eacute;es et pour quelle dur&eacute;e.</li>
          <li>Les donn&eacute;es secondaires (issues de votre utilisation de de nos activit&eacute;s et autres contenus) sont utilis&eacute;s pour adapter le contenu que nous vous proposons et peuvent-&ecirc;tre utilis&eacute;s pour r&eacute;aliser des &eacute;tudes d&rsquo;usages (quelle activit&eacute; marche bien, etc&hellip;). Ces &eacute;tudes peuvent &ecirc;tre r&eacute;alis&eacute;s en collaboration avec nos partenaires</li>
          </ul>
          <p>Vos donn&eacute;es de compte personnelles et de familles (photos, vid&eacute;os, souvenirs, informations de profils) ne sont pas transmises ou vendues &agrave; des acteurs commerciaux ou publicitaires.</p>
          <h2>Modification de notre politique de confidentialit&eacute;</h2>
          <p>La pr&eacute;sente politique de confidentialit&eacute; est amen&eacute;e &agrave; &eacute;voluer occasionnellement. Nous vous en informerons et solliciterons votre accord via l&rsquo;application.</p>
            
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
