// For more details, check https://material.io/design/color/#tools-for-picking-colors

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$night-primary: mat-palette($mat-blue-grey);
$night-accent: mat-palette($mat-amber, A200, A100, A400);
$night-warn: mat-palette($mat-deep-orange);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$night: mat-dark-theme(
    $night-primary,
    $night-accent,
    $night-warn
);