<section id="privacy" class="privacy">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-6 order-first order-md-first" *ngIf="!bMobile">
        <div class="privacy-img col-lg-10 col-m-10 col-sm-7 mx-auto">
          <!-- <img class="img-fluid" src="assets/images/icon/lock.png" alt="learning path"> -->
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/CKsTnXPO8KM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <img src="assets/images/icon/lock.png" class="img-fluid play-btn" (click)="openDialog()">
        </div>
      </div>
      <div class="col-11 col-md-12 col-lg-6 mx-auto" >
        <div class="privacy-contain">
          <div>
            <h2 class="text-left">{{ 'HOME.PRIVACY.CATCHPHRASE' | translate }}</h2>
            <p *ngFor="let paragraph of paragraphs"  class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p>
          </div>
            <button mat-flat-button color="accent" class="m2" (click)="openDialog()">{{ 'HOME.PRIVACY.VIDEO-BTN' | translate }} &nbsp; <i class="fa fa-play-circle fa-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
