@import 'variables';

.partners {
    background-color:var(--color-beau);

    .partner-item {
        margin: 25px;

        img {
            width: 6vw;
            height: auto;
            // max-width: 50px;
        }
    }

    .partner-description {
        border-bottom: 1px solid var(--color-text);
        padding: 10px 30px;
    }

    button{
      background-color: var(--color-ocean);
    }

    .best-ribbon{
      img{
        width: 100%;
      }
    }
}
