<section id="partners" class="partners">
  <div class="container-fluid pt-5 pb-5">
    <div class="col-9 pt-5 pb-5 mx-auto">
      <div class="row align-items-center">

        <div class="col-6 col-md-4 mx-auto best-ribbon">
          <img src="assets/images/illus/best.png" alt="team ribbon">
        </div>

        <div class="col-12 col-md-8 mx-auto">
          <h2 class="title text-center text-md-left md-margin-top">Our team is pretty great!</h2>
          <p class="text-center text-md-left newsletter-description">Gazyoui is made up of a team of educators, linguists, AI engineers, and scientists from the best universities in France. Our project is supported by major scientific institutions in France.</p>

          <div class="text-center text-md-left">
            <a [routerLink]="'/pages/team'">
              <button mat-flat-button color="accent" class="m2">More About Us</button>
            </a>
          </div>
      </div>



        <div class="col-12 mx-auto mt-5">
          <div class="d-flex justify-content-around align-items-center flex-wrap"
            *ngIf="(supports$ | async) as supports; else loading">
            <div class="partner-item" *ngFor="let support of supports">
              <img src="{{ support.IMG.SRC }}" alt="{{ support.IMG.ALT}}">
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</section>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
