@import 'variables';

.partners {
    background-color:var(--color-beau);

    .partner-item {
        margin: 25px;

        img {
            width: 6vw;
            height: auto;
            min-width: 40px;
            // max-width: 50px;
        }
    }

    .partner-description {
        border-bottom: 1px solid var(--color-text);
        padding: 10px 30px;
    }

    button {
      padding: 5px 40px;
      // max-width: 70%;
      background-color: var(--color-ocean);
      text-transform: uppercase;
    }

    .best-ribbon{
      img{
        width: 100%;
      }
    }
}

@media screen and (max-width: 575px) {
  .partners {

    .partner-item {
      margin: 10px;
    }
  }
}