<section id="testimonial" class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="testimonial-title text-center text-sm-left">{{ 'HOME.TESTIMONIAL.TITLE' | translate }}</h2>
      </div>
      <div class="col-sm-12">
        <owl-carousel [options]="testimonialCarousel" [items]="testimonials" [carouselClasses]="['testimonial-carousel owl-theme col-sm-12']">
          <div class="testimonial-item" *ngFor="let testimonial of testimonials">
            <div class="testimonial-block col-lg-8 mx-auto d-md-flex align-items-center">
              <div class="testimonial-avtar col-md-4 col-lg-4">
                <img class="mx-auto" src="{{ testimonial.IMG.SRC }}" alt="{{ testimonial.IMG.ALT }}">
              </div>
              <div class="testimonial-text col-md-8 col-lg-8">
                <h1>&ldquo;</h1>
                <p>{{ testimonial.CITATION }}</p>
                <h1>&rdquo;</h1>
                <h4>{{ testimonial.NAME }}</h4>
                <p>{{ testimonial.LOCATION }}</p>
              </div>
            </div>
          </div>
        </owl-carousel>

      </div>
    </div>
  </div>
</section>
