@import 'constants';
@import 'variables';

.testimonial-carousel {
    &.owl-theme {
      .owl-dots .owl-dot.active span {
        background: $color_bright_turquoise;
        background: linear-gradient(to bottom, $color_bright_turquoise 0, $color_scooter 100%);
        width: 25px;
        transition: all 0.3s ease;
      }
      .owl-nav [class*=owl-]:hover {
        background: none;
      }
    }
    &.owl-carousel button {
      &.owl-prev {
        position: absolute;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        left: -170px;
      }
      &.owl-next {
        position: absolute;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        right: -170px;
      }

    }
    button:focus {
      outline: 0;
    }
  }

.testimonial {
      margin-top: 0;
      align-content: center;
    }

    .testimonial-decor {
      .testi-circle1 {
        position: absolute;
        left: 247px;
        bottom: 160px;
      }
      .testi-circle2 {
        position: absolute;
        left: 50px;
        top: auto;
        bottom: 0px;
      }

    }


    .testimonial-title{
      padding-top: 25px;
      margin-bottom: -85px;
    }

    .testimonial-item{
      padding-top: 125px;
    }

    .testimonial-block {
      padding: 25px 50px 25px 50px ;
    }




    .testimonial-avtar {
      // padding-right: 60px;
      img {
        border-radius: 100%;
        height: 100px;
        width: 100px;
      }
    }

    .testimonial-text {

      text-align: left;

      h4{
        text-align: right;
      }

      h5{
        text-align: right;
      }

      h1{
        font-size: 4em;
        line-height: 0;
        font-family: 'Catamaran', sans-serif;

        &:first-child{
          text-align: left;
          margin-bottom: -30px;
          padding-top: 50px;
          margin-left: -40px;
        }

        &:last-of-type{
          text-align: right;
          margin-right: -40px;
        }
      }

      p{
        margin-left: 0px;
        &:last-of-type{
          text-align: right;
        }

      }
    }


  @media(min-width: 991px){
    ::ng-deep .testimonial-carousel {
      width: 100vw;
    }

    ::ng-deep #testimonial .owl-carousel .owl-stage-outer {
      overflow:visible;
    }
  }


  @media(min-width: 768px){
    ::ng-deep .testimonial-carousel {
      width: 100vw;
    }

    ::ng-deep #testimonial .owl-carousel .owl-stage-outer {
      overflow:visible;

    }

    .testimonial {
      padding: 50px;
    }

    .testimonial-title{
      padding-top: 50px;
    }

    .testimonial-block {
      padding: 50px;
    }



    .testimonial-avtar {
      padding-right: 60px;
      img {
        height: 150px;
        width: 150px;
      }
    }

    .testimonial-text {

      h1{

        &:first-child{
          margin-left: 0px;
        }
      }

      p{
        margin-left: 40px;
      }
    }

    .testimonial-block {
      box-shadow: 0 0 65px 0 $color_silver_chalice_25;
    }
  }

  @media(max-width: 991px){
    .testimonial{
      padding-top: 25px;
    }
  }
