<section id="intro" class="intro">
  <div class="container d-flex align-items-center ">
    <div class="row d-flex align-items-end align-items-md-center">
      <div class="home-image col-8 col-md-5 mx-auto">
        <img src="{{ 'HOME.INTRO.IMG.SRC' | translate }}" alt="{{ 'HOME.INTRO.IMG.ALT' | translate }}">
      </div>
      <div class="col-11 col-md-6 mx-auto mt-n5 mt-md-0 mb-5 mb-md-0">
        <h1 [innerHTML]="'HOME.INTRO.CATCHPHRASE' | translate"></h1>
        
        <div class="home-buttons" *ngIf="!bMobile">
            <button mat-flat-button color="accent" class="m2" [routerLink]="'/home'" href="#newsletter"
            [pageScrollOffset]="80" pageScroll pageScrollDuration="0">{{ 'HOME.INTRO.BTN' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
