<section id="intro" class="intro">
  <div class="container">
    <div class="row d-flex align-content-center">
      <div class="col-md-8 col-lg-8 mx-auto align-self-center text-center">
        <div class="intro-contain">
          <div>
            <h1>{{ 'HOME.INTRO.CATCHPHRASE' | translate }}</h1>
            <div class="home-buttons">
                <button mat-flat-button color="accent" class="m2" [routerLink]="'/home'" href="#newsletter"
                [pageScrollOffset]="80" pageScroll *ngIf="!bMobile">{{ 'HOME.INTRO.BTN' | translate }}</button>
                <!-- <button mat-flat-button color="accent" class="m2" [routerLink]="'/home'" href="#newsletter"
                [pageScrollOffset]="80" pageScroll *ngIf="!bMobile">{{ 'HOME.INTRO.BTN-PLAY' | translate }} &nbsp; <i class="fa fa-play-circle fa-lg"></i></button> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
