@import 'variables';

.intro {
  background: #faf8f7 var(--background-home-intro);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  box-shadow: 0 0 0px rgba(0,0,0,0) !important;
  min-height: 100vh;

  .row {
    min-height: 100vh;
  }

.home-buttons{
  margin-top: 40px;
}

  button {
    margin-top: 10px;
    padding: 5px 40px;
    max-width: 70%;
    background-color: var(--color-bayside);
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
  }

  .intro-img {
    img {
      width: 150%;
    }
  }
}



// @media screen and (max-width: 575px) {
//   .intro {
//     background: var(--color-primary) var(--background-home-intro-mobile);
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-position: right bottom;
//     box-shadow: 0 0 0px rgba(0,0,0,0) !important;
//     min-height: 100vh;
//   }
// }
