<section id="jobs" class="jobs">
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>X</button>
  </mat-dialog-actions>
  <mat-dialog-content>
    <div class="general">
      <h2>Position</h2>
      <h3><i>Level</i></h3>
      <h3>Salary</h3>
    </div>
    <div class="col-11 mx-auto">
      <p>Under the direction of the Technical Director your role is to ensure the organisation, monitoring and implementation of the system and computer infrastructure of the various branches of Biborg.</p>
      <p>You are responsible for the following actions:</p>
      <ul>
        <li>System and server administration, network configuration, back-up etc..</li>
        <li>Intervention on client projects / design / hardware installation recommendations</li>
        <li>Security: protocol, method, training, testing</li>
        <li>Management of internal/ external data transfers</li>
        <li>Management of computing equipment (orders, installations, fixing, inventory, classification, optimisation, recycling)</li>
        <li>Managing the entire phone pool</li>
        <li>Management and optimisation of licenses and contracts (fiber, telephone systems ...)</li>
        <li>Management of meeting room equipment</li>
        <li>Keep up to date with technological developments</li>
      </ul>
    </div>
  </mat-dialog-content>
</section>
