// Follow angular material theme class applied on body
// For mor details check https://material.io/design/color/the-color-system.html#color-theme-creation

.default {
    --color-title:  #34343C;
    --color-text: #777777;
    --color-text-invert: white;
    --color-background: white;
    --color-primary: #D9EEF3;
    --color-primary-variant: #70a2f2;
    // --color-accent: #ffa89c;
    --color-accent-variant: #396ac5;
    --color-gray: #f4f4f4;
    --color-warn: red;

    --color-accent: #73cac3;

    --color-ocean: #127e9b;
    --color-beau: #c2d8e3;
    --color-bayside: #73cac3;
    --color-blossom: #fcd2c0;
    --color-golden: #fcd485;
    --color-mint: #c5e6da;

    --text-dark: #076077;
    --text-medium: #5f707a;
    --text-light: #c8cbce;
    --text-white: #ffffff;

    --background-home-partners: url('/assets/images/backgrounds/partners-default.svg');
    --background-home-team: url('/assets/images/backgrounds/team.svg');
    --background-home-team2: url('/assets/images/backgrounds/team2.svg');
    --background-home-testimonial: url('/assets/images/backgrounds/testimonial.svg');
    --background-home-newsletter-baby: url('/assets/images/illus/baby-newsletter.png');
    --background-home-newsletter-clouds: url('/assets/images/illus/clouds-newsletter.png');
    --background-home-intro: url('/assets/images/illus/baby-reaching.png');
    --background-home-intro-mobile: url('/assets/images/illus/baby-reaching-mobile.png');
    --background-construction: url('/assets/images/backgrounds/construction.svg');
}

// .night {
//     --color-title:  red;
//     --color-text: red;
//     --color-text-invert: white;
//     --color-background: blue;
//     --color-primary: ;
//     --color-primary-variant: ;
//     --color-accent: ;
//     --color-accent-variant: ;
//     --color-warn: ;

//     --background-home-partners: url('/assets/images/home/backgrounds/partners-night.svg');
// }
