
<app-header></app-header>

<!-- <section id="whole-team" class="whole-team">
  <div class="container">
    <div class="row">

      <div class="col-12 title-area">
          <h2 class="title">{{ 'PAGES.TEAM.TITLE' | translate }}</h2>
          <p>{{ 'PAGES.TEAM.SUBTITLE' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="row col-10 mx-auto">

      <div class="gallery-item col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center" *ngFor="let member of members">
        <mat-card class="gallery-card">
            <div class="team-avtar mx-auto">
                <img mat-card-image src="{{ member.IMG.SRC }}" alt="{{ member.IMG.ALT }}">
            </div>

            <mat-card-title>{{ member.NAME }}</mat-card-title>
            <mat-card-subtitle>{{ member.DESCRIPTION }}</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
</section> -->

<section id="whole-team" class="whole-team">
    <div class="container-fluid">
      <div class="row mt-5 pb-5">
        <div class="col-12 col-md-9 mx-auto">
          <div class="row text-center mb-3">
            <div class="col-12">
            <h2>{{ 'PAGES.MORE-ABOUT-US.TITLE' | translate }}</h2>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12">
            <p>{{ 'PAGES.MORE-ABOUT-US.INTRODUCTION' | translate }}</p>
            </div>
          </div>
          <div class="row mb-5 bird d-flex justify-content-center align-items-center">
            <div class="mr-4 about-divider"></div>
              <img src="assets/images/illus/bird.png" alt="yellow Gazouyi bird">
              <div class="ml-4 about-divider"></div>
          </div>
          <div class="row VDH">
            <div class="col-8 col-md-3 mx-auto profile-image p-3">
                <img src="{{ 'PAGES.MORE-ABOUT-US.PERSON1.IMG.SRC' | translate }}" alt="{{ 'PAGES.MORE-ABOUT-US.PERSON1.IMG.ALT' | translate }}">
            </div>
            <div class="col-12 col-md-9 mx-auto p-3">
              <h3>{{ 'PAGES.MORE-ABOUT-US.PERSON1.NAME' | translate }}</h3>
              <h5>{{ 'PAGES.MORE-ABOUT-US.PERSON1.POSITION' | translate }}</h5>
              <p [innerHTML]="'PAGES.MORE-ABOUT-US.PERSON1.DESCRIPTION' | translate"></p>
            </div>
          </div>
          <div class="row XN pt-5">
              <div class="col-8 col-md-3 mx-auto profile-image p-3">
                  <img src="{{ 'PAGES.MORE-ABOUT-US.PERSON2.IMG.SRC' | translate }}" alt="{{ 'PAGES.MORE-ABOUT-US.PERSON2.IMG.ALT' | translate }}">
              </div>
              <div class="col-12 col-md-9 mx-auto p-3">
                <h3>{{ 'PAGES.MORE-ABOUT-US.PERSON2.NAME' | translate }}</h3>
                <h5>{{ 'PAGES.MORE-ABOUT-US.PERSON2.POSITION' | translate }}</h5>
                <p [innerHTML]="'PAGES.MORE-ABOUT-US.PERSON2.DESCRIPTION' | translate"></p>
              </div>
            </div>

        </div>
      </div>
    </div>

  </section>


<app-footer></app-footer>
