@import 'variables';

.footer {
    background-color: var(--color-ocean);
    padding-bottom: 10px !important;
      margin-bottom: 0px !important;

    p {
        margin: 0;
    }

    .logo {
        img {
            height: 50px;
        }
    }
    .social-icon{
      width: 35px;
      img{
        width: 100%;
      }
    }

    .our-values{
      img{
        height: 1.5em;

      }
    }
}

.copyright-section {

  background-color: var(--color-gray);

    p {
      text-align: center;
      margin: 0;
    }
}


.affiliations {

  .affiliations-item {
      margin-left: 2.5vw;
      margin-right: 2.5vw;

      img {
          width: 5vw;
          height: auto;
          max-width: 50px;
      }
  }

  .partner-description {
      border-bottom: 1px solid var(--color-text);
      padding: 10px 30px;
  }
}
