<div class="container-fluid footer" *ngIf="!bMobile; else mobile">
  <div class="row"><div class="col-9 mx-auto">
    <div class="row pt-5 pb-5">
      <div class="col-6 pt-5">
          <h3><span>{{ 'SHARED.FOOTER.VALUES.TITLE' | translate }}</span></h3>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-4 our-values">
        <div class="w-100 mr-2">
          <div class="d-flex align-items-center mb-2">
            <img src="{{ 'SHARED.FOOTER.VALUES.VALUE1.IMG.SRC' | translate }}" alt="{{ 'SHARED.FOOTER.VALUES.VALUE1.IMG.ALT' | translate }}">
            <h4 class="mb-0 d-inline ml-2"><span>{{ 'SHARED.FOOTER.VALUES.VALUE1.TITLE' | translate }}</span></h4>
          </div>
        </div>
        <div class="w-100 mr-2">
          <p><span>{{ 'SHARED.FOOTER.VALUES.VALUE1.TEXT' | translate }}</span></p>
        </div>
      </div>
      <div class="col-4 our-values">
          <div class="w-100 mr-2">
              <div class="d-flex align-items-center mb-2">
                <img src="{{ 'SHARED.FOOTER.VALUES.VALUE2.IMG.SRC' | translate }}" alt="{{ 'SHARED.FOOTER.VALUES.VALUE2.IMG.ALT' | translate }}">
                <h4 class="mb-0 d-inline ml-2"><span>{{ 'SHARED.FOOTER.VALUES.VALUE2.TITLE' | translate }}</span></h4>
              </div>
            </div>
        <div class="w-100 mr-1 ml-1">
          <p><span>{{ 'SHARED.FOOTER.VALUES.VALUE2.TEXT' | translate }}</span></p>
        </div>
      </div>
      <div class="col-4 our-values">
          <div class="w-100 mr-2">
              <div class="d-flex align-items-center mb-2">
                <img src="{{ 'SHARED.FOOTER.VALUES.VALUE3.IMG.SRC' | translate }}" alt="{{ 'SHARED.FOOTER.VALUES.VALUE3.IMG.ALT' | translate }}">
                <h4 class="mb-0 d-inline ml-2"><span>{{ 'SHARED.FOOTER.VALUES.VALUE3.TITLE' | translate }}</span></h4>
              </div>
            </div>
          <div class="w-100 ml-2">
            <p><span>{{ 'SHARED.FOOTER.VALUES.VALUE3.TEXT' | translate }}</span></p>
          </div>
        </div>
    </div>
    <div class="horizontal-divider pt-5 pb-5">
      <hr>
    </div>
    <div class="row d-flex justify-content-between pb-5">
      <div class="col-12 d-flex justify-content-between">
        <div>
          <div class="logo mb-1">
            <img src="{{ 'SHARED.FOOTER.CONTACT.IMG.SRC' | translate }}" alt="{{ 'SHARED.FOOTER.CONTACT.IMG.ALT' | translate }}">
          </div>
          <div class="copyright">
            <p><span><small>{{ 'SHARED.FOOTER.FOOTNOTE' | translate }}</small></span></p>
          </div>
        </div>
        <!-- <div>
          <h6><span>Investors</span></h6>
          <p><span>Lorem Ipsum</span></p>
          <p><span>Lorem Ipsum</span></p>
        </div>
        <div>
          <h6><span>Company</span></h6>
          <p><span>About us</span></p>
          <p><span>Careers</span></p>
          <p><span>Contact us</span></p>
        </div>
        <div>
          <h6><span>Further info</span></h6>
          <p><span>Terms & Conditions</span></p>
          <p><span>Privacy Policy</span></p>
        </div> -->
        <div>
          <h6><span>{{ 'SHARED.FOOTER.MEDIA-TITLE' | translate }}</span></h6>
          <div class="social-icons d-flex mt-2">
            <div class="social-icon mr-3" *ngFor="let social of socials"><a href="{{ social.HREF }}"><img src="{{ social.IMG.SRC }}" alt="{{ social.IMG.ALT }}"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div></div>
  </div>

<ng-template #mobile>
  <div class="jumbotron d-flex flex-column align-items-center footer">
    <div class="logo">
      <img src="{{ 'SHARED.FOOTER.CONTACT.IMG.SRC' | translate }}" alt="{{ 'SHARED.FOOTER.CONTACT.IMG.ALT' | translate }}">
    </div>
    <p><small>{{ 'SHARED.FOOTER.CONTACT.TEL' | translate }}</small></p>
    <p><small>{{ 'SHARED.FOOTER.CONTACT.MAIL' | translate }}</small></p>
  </div>
</ng-template>
