<div class="container" id="parents">
  <div class="row">
    <div class="col-11 col-md-7 mx-auto">
      <p>During their first years of life, infants develop physically, emotionally and cognitively at an amazing speed. Parents often wonder what they should do to establish the successful development of their child.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 text-right">
      <div class="row d-flex justify-content-center py-3">
        <div class="speech-image col-6">
          <img src="{{ 'HOME.PARENTS.SPEECH-LEFT.IMG.SRC'| translate }}"
            alt="{{ 'HOME.PARENTS.SPEECH-LEFT.IMG.ALT' | translate }}">
        </div>
        <div class="parent-image col-auto">
          <img src="{{ 'HOME.PARENTS.PARENT1.IMG.SRC'| translate }}"
            alt="{{ 'HOME.PARENTS.PARENT1.IMG.ALT' | translate }}">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 text-left">
      <div class="row py-3">
        <div class="parent-image col-auto">
          <img src="{{ 'HOME.PARENTS.PARENT2.IMG.SRC'| translate }}"
            alt="{{ 'HOME.PARENTS.PARENT2.IMG.ALT' | translate }}">
        </div>
        <div class="speech-image col-6">
          <img src="{{ 'HOME.PARENTS.SPEECH-RIGHT.IMG.SRC'| translate }}"
            alt="{{ 'HOME.PARENTS.SPEECH-RIGHT.IMG.ALT' | translate }}">
        </div>
      </div>
    </div>

  </div>
  <div class="row pt-4">
    <div class="col-11 col-md-7 mx-auto">
      <h2 class="text-center">Mission of Gazouyi</h2>
      <p>Gazouyi is a mobile application for caregivers, designed to help you engage in positive interactions with your children. We help you achieve this by giving you a personalized bundle of activities and information, tailored to your child’s development.</p>
    </div>
  </div>
</div>