<section id="parents">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-7 mx-auto">
        <p>{{ 'HOME.PARENTS.INTRODUCTION'| translate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 text-right">
        <div class="row d-flex justify-content-center py-3">
          <div class="speech-image col-7">
            <div id="speech-left-top" class="speech-text d-flex align-items-center">
                <img class="col-12 p-0" src="assets/images/illus/parents-speech-left-top.png">
                <p class="text-center mb-0">{{ 'HOME.PARENTS.SPEECH-LEFT-TOP.TEXT'| translate }}</p>
            </div>
            <div id="speech-left-bottom" class="speech-text d-flex align-items-center">
              <img class="col-12 p-0" src="assets/images/illus/parents-speech-left-bottom.png">
              <p class="text-center mb-0">{{ 'HOME.PARENTS.SPEECH-LEFT-BOTTOM.TEXT'| translate }}</p>
            </div>
          </div>
          <div class="parent-image col-5 d-flex justify-content-center">
            <img src="{{ 'HOME.PARENTS.PARENT1.IMG.SRC'| translate }}"
              alt="{{ 'HOME.PARENTS.PARENT1.IMG.ALT' | translate }}">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 text-left">
        <div class="row py-3">
          <div class="parent-image col-5 d-flex justify-content-center">
            <img src="{{ 'HOME.PARENTS.PARENT2.IMG.SRC'| translate }}"
              alt="{{ 'HOME.PARENTS.PARENT2.IMG.ALT' | translate }}">
          </div>
          <div class="speech-image col-7">
            <div id="speech-right-top" class="speech-text d-flex align-items-center">
                <img class="col-12 p-0" src="assets/images/illus/parents-speech-right-top.png">
                <p class="text-center mb-0">{{ 'HOME.PARENTS.SPEECH-RIGHT-TOP.TEXT'| translate }}</p>
            </div>
            <div id="speech-right-bottom" class="speech-text d-flex align-items-center">
              <img class="col-12 p-0" src="assets/images/illus/parents-speech-right-bottom.png">
              <p class="text-center mb-0">{{ 'HOME.PARENTS.SPEECH-RIGHT-BOTTOM.TEXT'| translate }}</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="row pt-4">
      <div class="col-11 col-md-7 mx-auto">
        <h2 class="text-center">{{ 'HOME.PARENTS.TITLE'| translate }}</h2>
        <p>{{ 'HOME.PARENTS.DESCRIPTION'| translate }}</p>
      </div>
    </div>
  </div>

</section>