<section id="newsletter" class="container">
  <div class="row pt-5 pb-5">
    <div class="col-11 col-md-9 mx-auto">
      <div class="row d-flex align-items-center">

        <div class="col-8 col-md-5 mx-auto mail-image">
            <img src="{{ 'HOME.NEWSLETTER.IMG.SRC'| translate }}" alt="{{ 'HOME.NEWSLETTER.IMG.ALT' | translate }}">
        </div>

        <div class="col-11 col-md-7 mx-auto">

    <div class="newsletter-info mx-auto">
      <div>
        <h2 class="title text-center text-md-left md-margin-top">{{ 'HOME.NEWSLETTER.CATCHPHRASE' | translate }}</h2>
        <p
          class="text-center text-md-left newsletter-description" [innerHTML]="'HOME.NEWSLETTER.DESCRIPTION' | translate"></p>
      </div>
      <div class="row ml-auto ml-md-0 mt-5">
          <a  class="mx-md-0 mx-auto" href="{{ 'HOME.NEWSLETTER.HREF' | translate }}"><button mat-flat-button color="primary">{{ 'HOME.NEWSLETTER.BTN-SEND' | translate }}</button></a>
        </div>
        <div class="mx-md-0 mx-auto disclaimer text-justify mt-3"><p>{{ 'HOME.NEWSLETTER.DISCLAIMER' | translate }}</p></div>
        </div>
    </div>

</div>
</div>
</div>
</section>
