#newsletter {
    min-height: 90vh;
    // background: var(--background-home-newsletter-baby), var(--background-home-newsletter-clouds);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom, center top;

    background-color: var(--color-mint);
    margin:0px;
    width: 100vw;
    max-width: none;

    .newsletter-info{
      max-width: 450px !important;
      margin:0;
      padding:0;
    }

    .newsletter-info-success{
      max-width: 550px !important;
      margin:0;
      padding:0;
      h3{
        text-transform: none;
      }
    }


    .disclaimer{
      margin:0;
      margin-top: 15px;
      width: 300px;
      padding:0;
      p {
        font-size: 0.5em;
        line-height: auto;
      }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
  padding: 5px 40px;
  // max-width: 70%;
  // background-color: var(--color-accent);
  text-transform: uppercase;
}

::ng-deep {
  #newsletter{
    .mat-form-field .mat-form-field-flex{
      background-color: var(--color-background);
      width: 300px;
    }
  }
}

.mail-image{
  img{
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
    // #newsletter{
    //   background: var(--background-home-newsletter-clouds);
    //   background-repeat: no-repeat;
    //   background-size: 100% auto;
    //   background-position: center top;
    //   background-color: var(--color-primary);
    // }

    .mat-form-field{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }

    .input-buttons{
      margin: 20px 0px;
    }

    #newsletter{
      padding-top: 3rem;
      padding-bottom: 3rem;
      .disclaimer{
        width: 100%;
      }
    }
  }
