<app-header></app-header>

  <section id="terms-of-use" class="terms-of-use">
    <div class="container">
      <div class="row ">
        <div class="outline col-12 col-lg-9 mx-auto" >
            <h2>Terms and Conditions</h2>
                <br>

                <h4>1. Legal Notice </h4>
                <p>In accordance with the provisions of article 6 III 1 ° of law No. 2004-575 of the 21st June 2004, we inform you that: the gazouyi.com website is published by Gazouyi and is located at 2 rue Simone Iff, 75012 Paris - FRANCE</p>
                <p>Telephone: 01 44 32 26 80<br>
                Director of publication: Xuan-Nga Cao<br>
                Contact details : <a href="mailto:contact@gazouyi.com">contact@gazouyi.com</a></p>
                <p>Data Protection Officer ( DPO ): <a href="mailto:contact@gazouyi.com">contact@gazouyi.com</a></p>

                
                <h4>2. Purpose of the terms of use</h4>
                <p>The terms of use are intended to govern the use of the site by any user.
                By browsing the website you acknowledge to having fully read and understood the terms of use.<p>

                
                <h4>3. Definitions</h4>
                <p><b>Site</b>: refers to the website <a href="https://www.gazouyi.com">www.gazouyi.com</a></p>
                <p><b>General Regulation on the Protection of Personal Data (GDPR)</b>: refers to the European legislation in effect since May 25th,  2018 regarding the protection of personal data.</p>
                <p><b>Internet user</b>: refers to any user who visits the site.</p>
                <p><b>Subscriber</b>: refers to a user who registers his or her email address on the site and receives the <i>Gazouyi’s</i> newsletter.</p>
                <p><b>Processing</b>: refers to any operation or set of operations performed on personal data or on sets of personal data, whether or not by automated means, such as the collection, recording, storage, use, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.</p>
                
                
                <h4>4. Access to the site</h4>
                <p>Access to the website <a href="https://www.gazouyi.com">gazouyi.com</a> is available to any user who has an internet connection.</p>
                
                
                <h4>5. Data protection</h4>
                <p><b>Purpose of information processing:</b><br>
                Information processing involves the subscription to the <i>Gazouyi</i>’s newsletter. The newsletter will inform subscribers on the progress of the project.</p>
                <p><b>Data processed:</b><br>
                The processed data is solely the email addresses of the users who subscribed to the <i>Gazouyi</i> email list.<br>
                No IP address will be saved.<br>
                No commercial cookies are used on this website. </p>
                <p><b>Persons concerned:</b><br>
                The data collection only applies to users who wish to subscribe to the <i>Gazouyi</i> email list.</p>
                <p><b>Destination of the processed data:</b><br>
                The processed data will be used by the <i>Gazouyi</i> team solely to send the newsletter. None of the user’s data will be transferred outside the European Union.</p>
                <p><b>Data retention period: </b><br>
                <p><i>Gazouyi</i> keeps the email addresses of its subscribers for a period of 3 years. At the end of this period, they will be asked whether they wish to remain subscribed to the site. They can unsubscribe at any time via the “unsubscribe" link embedded in each email they receive.</p>
                <p><b>User’s rights: </b><br>
                <p>Users may access, obtain a copy, object to the processing, and/or request change or removal of their data. They also have the right to restrict their data collection.</p>
                <p>You can exercise your rights by contacting the DPO at <a href="mailto:contact@gazouyi.com">contact@gazouyi.com</a>. </p>
                
                
                
                <h4>6. Intellectual property</h4>
                <p><a href="https://www.gazouyi.com">www.gazouyi.com</a> is a reserved domain name. Any unauthorized use of the copyrighted material is punishable by criminal and civil penalties.</p>
                <p>No provision of the <b>terms of use</b> may be interpreted as an assignment of intellectual property rights.</p>
                
               
                
                <h4>7. Liability Disclaimer</h4>
                <p><i>Gazouyi</i> ensures the proper functioning of the site. However, we will not be liable for any loss resulting from the user’s browsing activity including service disruption, hacking issues or computer viruses.</p>
                
                
                <h4>8. Governing law and jurisdiction</h4>
                <p>These <b>terms of use</b> are governed by French law and the parties agree to submit to the exclusive jurisdiction of the French courts. <p>
                
                
                
               <h4>9. Changes to the terms of use</h4>
                <p><i>Gazouyi</i> reserves the right to update the terms of use in order to take into account, any legal and/or technical changes without the user’s consent. Any revised terms of use will be applicable at the time of its posting on the <i>Gazouyi</i> website.</p>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
