@import 'constants';
@import 'variables';

.attribution {
  padding-top: 15vh;

    .row {

    }

    .attribution-img{
      width: 50%;

    }


    .position-listings{
      box-shadow: 0 0 65px 0 $color_silver_chalice_25;
      margin-top: 10px;
      height: 125px;
    }

    .position-title{
      text-align: left;
    }
    .position-location{
      text-align: right;
    }

}
#positions{
  padding-bottom: 15vh;
}

#contact-us{
  padding-bottom: 15vh;
  background-color: var(--color-primary);
}
