<app-header></app-header>
<!--FAQ Section start-->
<div class="page-margin">
  <!--breadcrumb start-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-text-center d-align-center">
        <h2 class="title"><span>Image Attributions</span></h2>
      </div>
    </div>
  </div>
  <!--breadcrumb end -->
  <section id="intro" class="attribution">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-md-11 col-lg-11 mx-auto">
          <div>Microphone Icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0</a></div>
          <div>Secure Lock Icon made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0</a></div>
        </div>

      </div>
    </div>
  </section>
</div>
<!--FAQ Section start-->
<app-footer></app-footer>
