<app-header></app-header>
<section id="contact-us" class="contact-us d-flex align-items-center">
    <div class="container-fluid pt-5 pb-5">
      <div class="row mt-5 pb-5">
        <div class="col-11 col-lg-9 mx-auto">
          <div class="row d-flex align-items-center">
            <!-- <div class="col-12 text-center pb-5">
              <h2>{{ 'PAGES.CONTACT.TITLE' | translate }}</h2>
            </div> -->
            <div class="row">
                <div class="col-sm-6" style="padding-bottom: 3%">
                    <h2 class="text-center text-md-left">{{ 'PAGES.CONTACT.TITLE' | translate }}</h2>
                    <h5 class="mb-5 text-center text-md-left">{{ 'PAGES.CONTACT.SUBTITLE' | translate }}</h5>
                    <table class="mx-auto mx-md-0">
    <!--                  <tr>-->
    <!--                    <td class="contact-icon pr-2 pb-2"><img src="{{ 'PAGES.CONTACT.EMAIL.IMG.SRC' | translate }}" alt="{{ 'PAGES.CONTACT.EMAIL.IMG.ALT' | translate }}"></td>-->
    <!--                    <td><p class="mb-0 pb-2"><a href="mailto:{{ 'PAGES.CONTACT.EMAIL.ADDRESS' | translate }}">{{ 'PAGES.CONTACT.EMAIL.ADDRESS' | translate }}</a></p></td>-->
    <!--                  </tr>-->
                      <tr>
                        <td class="contact-icon pb-2"><img src="{{ 'PAGES.CONTACT.PHONE.IMG.SRC' | translate }}" alt="{{ 'PAGES.CONTACT.PHONE.IMG.ALT' | translate }}"></td>
                        <td><p class="mb-0 pb-2">{{ 'PAGES.CONTACT.PHONE.NUMBER' | translate }}</p></td>
                      </tr>
                      <tr>
                        <td class="contact-icon"><img src="{{ 'PAGES.CONTACT.LOCATION.IMG.SRC' | translate }}" alt="{{ 'PAGES.CONTACT.LOCATION.IMG.ALT' | translate }}"></td>
                        <td><p class="mb-0">{{ 'PAGES.CONTACT.LOCATION.ADDRESS1' | translate }}</p></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><p class="mb-0">{{ 'PAGES.CONTACT.LOCATION.ADDRESS2' | translate }}</p></td>
                      </tr>

                    </table>
                </div>
                <div class="col-sm-6">
                    <form [formGroup]="userMessage">
                        <div class="form-group">
                            <input formControlName="email" id="email" placeholder="E-mail" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" placeholder="Inserez votre message!" onfocus="this.value=''" rows="5" cols="33" class="form-control"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button (click)="submit()" class="btn btn-dark"> Send message</button>
                        </div>
                    </form>
                </div>
            </div>



            <div class="col-5 offset-7 offset-md-0 mx-md-auto col-md-6 contact-image text-center text-md-right pt-5 pt-md-0  mb-n5 mb-md-0">
              <img src="{{ 'PAGES.CONTACT.IMG.SRC' | translate }}" alt="{{ 'PAGES.CONTACT.IMG.ALT' | translate }}">
            </div>
          </div>
        </div>
      </div>
    </div> 
  </section>
<app-footer></app-footer>
